*.json
*.pyc
*.db
*.log
.idea/*
**/plugins/resources/*
changelog
scratch*
.vscode/*
__pycache__/*
../*g
.pylintrc
test*.*
music.py
*.code-workspace
*.*rc
TODO
*.lock
dist/*
**/*.egg-info/*
.venv/