*.json
*.pyc
*.db
*.log
.idea/*
plugins/resources/images/*
plugins/resources/data/*
plugins/resources/videos/*
changelog
scratch*
.vscode/*
__pycache__/*
../*g
.pylintrc
test*.*
music.py
*.code-workspace